.container {
    background-color: #ffffff;
    height: 64px;
    width: 100vw;

    z-index: 10;
    position: relative;
}

.navContainer {
    /* border:1px solid red; */

    height:100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 110px;
}

.logoContainer {
    /* border: 1px solid green; */

    display: flex;
    flex: 1;
}

.navigation {
    /* border: 1px solid blue; */

    display: flex;
    flex: 1;

    justify-content: center;
    align-items: center;
}

.navigation ul {
    /* border: 1px solid red; */

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation li {
    font-size: 16px;
}

.navTitleHolder {
    display: flex;
    align-items: center;
    
    gap: 8px;
}

.cartContainer {
    /* border: 1px solid pink; */

    display: flex;
    flex: 1;

    justify-content: flex-end;
    align-items: center;
}

.icon {
    font-size: 30px;
}

.active {
    color: #fd9031;
}